@model IEnumerable<Proyecto_EDI.Models.Paciente>

@{
    ViewData["Title"] = "Index";
}

<h1>LISTA GENERAL DE PACIENTES REGISTRADOS</h1>
<h4>Fase 1 - COVID-19</h4>
<br />
<p>
    <a asp-action="Create">+Agregar nuevo registro</a><br />
    <a asp-controller="Home" asp-action="Index">Regresar Menú principal</a>
</p>

   

<table class="table table-hover"><br /><br />
    <thead>
        <tr>
            <th>
                <label>Nombre</label>
            </th>
            <th>
                <label>Apellido</label>
            </th>
            <th>
                <label>DPI</label>
            </th>
            <th>
                <label>Departamento</label>
            </th>
            <th>
                <label>Municipio</label>
            </th>
            <th>
                <label>Edad</label>
            </th>
            <th>
                <label>Grupo</label>
            </th>           
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dpi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.departamentoString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.municipioString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.edad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prioString)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.dpi">Edit</a> 
            </td>
        </tr>
}
    </tbody>
</table>
