@model IEnumerable<Proyecto_EDI.Models.Paciente>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dpi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.departamentoString)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.municipioString)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.edad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.grupo_prioridad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vacunado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dpi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.departamentoString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.municipioString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.edad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.grupo_prioridad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vacunado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.dpi">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.dpi">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.dpi">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
