@model IEnumerable<Proyecto_EDI.Models.Paciente>

@{
    ViewData["Title"] = "search";
}

<h1>BÚSQUEDA DE PACIENTES REGISTRADOS</h1>
<p>
    <a asp-controller="Home" asp-action="Index">Menú principal</a><br />
</p>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<style>
    .buscar {
        width: 200px;
        height: 50px;
        background: #f2f2f2;
        border-color: #333333;
        border: solid 1px;
        border-radius: 4px;
        color: #333333;
        font-size: 20px;
    }

    .Botones {
        width: 100px;
        height: 50px;
        background: #f2f2f2;
        color: #333333;
        font-size: 20px;
        border-radius: 4px;
        border: none;
    }

        .Botones:hover {
            background: #333333;
            color: #f2f2f2;
        }

    .text {
        width: 300px;
        height: 50px;
        color: #333333;
        font-size: 20px;
    }
</style>

<form asp-action="search">
    <p>BUSCAR POR:</p>
    <select class="buscar" name="Buscar">
        <option name="Buscar" value="0"> Nombre</option>

        <option name="Buscar" value="1"> Apellido</option>

        <option name="Buscar" value="2"> DPI</option>

    </select>

    <input class="text" type="search" name="Busqueda" placeholder="Ingresar...">

    <input class="Botones" asp-action="search" type="submit" value="Buscar">
    <br /><br>

</form>
<br />
<br />


<table class="table table-hover">
    <thead>
        <tr>
            <th>
                <label>DPI</label>
               
            </th>
            <th>
                <label>Nombre</label>
             
            </th>
            <th>
                <label>Apellido</label>
               
            </th>
           
            <th>
                <label>Municipio</label>
              
            </th>
            <th>
                <label>Departamento</label>
              
            </th>
            <th>
                <label>Edad</label>
               
            </th>
            
            <th>
                <label>Vacunación</label>
               
            </th>
            <th>
               <label>Grupo de prioridad</label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.dpi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.apellido)
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.municipioString)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.departamentoString)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.edad)
                </td>
              
                <td>
                    @Html.DisplayFor(modelItem => item.vacunado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.prioString)
                </td>
                
            </tr>
        }
    </tbody>
</table>
